#  T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_rel`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

### One tailed t-test 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

#### Import dataset

In [14]:
# import data:
data=pd.read_csv('ttest_machine.txt',delimiter='\t')
data

  New_machine Old_machine
0               42.1 42.7
1                 41 43.6
2               41.3 43.8
3               41.8 43.3
4               42.4 42.5
5               42.8 43.5
6               43.2 43.1
7               42.3 41.7
8                 41.8 44
9               42.7 44.1

In [16]:
# Split the values into two separate columns
data[['New_machine', 'Old_machine']] = data['New_machine Old_machine'].str.split(' ', expand=True)

# Convert the columns to numeric if needed
data['New_machine'] = pd.to_numeric(data['New_machine'])
data['Old_machine'] = pd.to_numeric(data['Old_machine'])

In [19]:
data

  New_machine Old_machine  New_machine  Old_machine
0               42.1 42.7         42.1         42.7
1                 41 43.6         41.0         43.6
2               41.3 43.8         41.3         43.8
3               41.8 43.3         41.8         43.3
4               42.4 42.5         42.4         42.5
5               42.8 43.5         42.8         43.5
6               43.2 43.1         43.2         43.1
7               42.3 41.7         42.3         41.7
8                 41.8 44         41.8         44.0
9               42.7 44.1         42.7         44.1

In [20]:
data = data.drop('New_machine Old_machine', axis=1)

In [21]:
data

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [22]:
data.shape

(10, 2)

In [23]:
data.columns

Index(['New_machine', 'Old_machine'], dtype='object')

In [33]:
#calculate the mean of the old machine(mean of the population)
round(data['Old_machine'].mean(),2)

43.23

In [35]:
#H0=average time new machine is equal to old machine
#H1: average time new machine <to old machine
print('p value (single tailed): ',st.ttest_1samp(data['New_machine'],43.23)[1]/2)  
#p_value<0.05  ==> reject the H0

p value (single tailed):  0.0003483188038379669

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use pokemon.csv

In [31]:
# Your code here:
pokemon=pd.read_csv('pokemon.txt', delimiter=',')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [38]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """

    results = {}

    for feature in features:
        t_stat, p_value = st.ttest_ind(s1[feature], s2[feature],equal_var=False)
        results[feature] = p_value

    return results

In [ ]:
# H0: There is no significant difference in the means of the specified features between Legendary and non-Legendary Pokemon.
# H1: There is a significant difference in the means of the specified features between Legendary and non-Legendary Pokemon.
#H0==>rejected!

In [39]:
legendary_pokemon = pokemon[pokemon['Legendary'] == True]
non_legendary_pokemon = pokemon[pokemon['Legendary'] == False]

# Use the t_test_features function
results_legendary_vs_non_legendary = t_test_features(legendary_pokemon, non_legendary_pokemon)

# Print the results
for feature, p_value in results_legendary_vs_non_legendary.items():
    print(f"T-test for {feature}: p-value = {p_value}")

T-test for HP: p-value = 1.0026911708035284e-13
T-test for Attack: p-value = 2.520372449236646e-16
T-test for Defense: p-value = 4.8269984949193316e-11
T-test for Sp. Atk: p-value = 1.5514614112239812e-21
T-test for Sp. Def: p-value = 2.2949327864052826e-15
T-test for Speed: p-value = 1.049016311882451e-18
T-test for Total: p-value = 9.357954335957446e-47

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

The p-values are very small, indicating strong evidence that the two groups have distinct stat characteristics.So,Legendary and non-Legendary Pokemon can be considered to have significantly different stats across these features.

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [43]:
# Your code here
Generation_1_pokemon = pokemon[pokemon['Generation'] == 1]
Generation_2_pokemon = pokemon[pokemon['Generation'] == 2]

In [44]:
# Use the t_test_features function
Generation_1_pokemon_vs_Generation_2_pokemon = t_test_features(Generation_1_pokemon, Generation_2_pokemon)

# Print the results
for feature, p_value in Generation_1_pokemon_vs_Generation_2_pokemon.items():
    print(f"T-test for {feature}: p-value = {p_value}")

T-test for HP: p-value = 0.14551697834219623
T-test for Attack: p-value = 0.24721958967217725
T-test for Defense: p-value = 0.5677711011725426
T-test for Sp. Atk: p-value = 0.12332165977104388
T-test for Sp. Def: p-value = 0.18829872292645752
T-test for Speed: p-value = 0.00239265937312135
T-test for Total: p-value = 0.5631377907941676

In [ ]:
# H0: There is no significant difference in the means of the specified features between Generation 1 and Generation 2 Pokemon.
# H1: There is a significant difference in the means of the specified features between Generation 1 and Generation 2 Pokemon.
#H0 accepted!

#### What conclusions can you make?


The p-values are greater than the typical significance level of 0.05. Therefore, we fail to reject the null hypothesis for these features. There is no strong evidence to suggest a significant difference in the means of these features between Generation 1 and Generation 2 Pokemon

#### Compare pokemons who have single type vs those having two types.

In [46]:
# Your code here
pokemon['Type 1'].value_counts(dropna=False)

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [47]:
pokemon['Type 2'].value_counts(dropna=False)

NaN         386
Flying       97
Ground       35
Poison       34
Psychic      33
Fighting     26
Grass        25
Fairy        23
Steel        22
Dark         20
Dragon       18
Ice          14
Rock         14
Water        14
Ghost        14
Fire         12
Electric      6
Normal        4
Bug           3
Name: Type 2, dtype: int64

In [48]:
# I have to make a column:
pokemon['Number_of_Types'] = pokemon['Type 2'].apply(lambda x: 1 if pd.isna(x) else 2)

In [49]:
pokemon[['Type 1','Type 2','Number_of_Types']]

      Type 1  Type 2  Number_of_Types
0      Grass  Poison                2
1      Grass  Poison                2
2      Grass  Poison                2
3      Grass  Poison                2
4       Fire     NaN                1
..       ...     ...              ...
795     Rock   Fairy                2
796     Rock   Fairy                2
797  Psychic   Ghost                2
798  Psychic    Dark                2
799     Fire   Water                2

[800 rows x 3 columns]

In [50]:
single_type_pokemon = pokemon[pokemon['Number_of_Types'] == 1]
two_type_pokemon = pokemon[pokemon['Number_of_Types'] == 2]

In [51]:
# Use the t_test_features function
results_single_type_vs_two_type = t_test_features(single_type_pokemon, two_type_pokemon)

# Print the results
for feature, p_value in results_single_type_vs_two_type.items():
    print(f"T-test for {feature}: p-value = {p_value}")

T-test for HP: p-value = 0.11314389855379414
T-test for Attack: p-value = 0.00014932578145948305
T-test for Defense: p-value = 2.7978540411514693e-08
T-test for Sp. Atk: p-value = 0.00013876216585667907
T-test for Sp. Def: p-value = 0.00010730610934512779
T-test for Speed: p-value = 0.02421703281819093
T-test for Total: p-value = 1.1157056505229961e-07

#### What conclusions can you make?

- For HP, the p-value is greater than 0.05 ,so there is not enough evidence to reject the null hypothesis. There is no significant difference in HP between Pokémon with a single type and Pokémon with two types.

- For Attack, Defense, Sp. Atk, Sp. Def, Speed, and Total, the p-values are less than 0.05, indicating that there is a significant difference in the means of these features between Pokémon with a single type and Pokémon with two types.

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [52]:
# Your code here

# Select the features to compare
features_attack_defense = ['Attack', 'Defense']
features_sp_atk_sp_def = ['Sp. Atk', 'Sp. Def']

# Use the t_test_features function for Attack vs Defense
results_attack_vs_defense = t_test_features(pokemon, pokemon, features=features_attack_defense)

# Use the t_test_features function for Sp. Atk vs Sp. Def
results_sp_atk_vs_sp_def = t_test_features(pokemon, pokemon, features=features_sp_atk_sp_def)

# Print the results for Attack vs Defense
print("Results for Attack vs Defense:")
for feature, p_value in results_attack_vs_defense.items():
    print(f"T-test for {feature}: p-value = {p_value}")

# Print the results for Sp. Atk vs Sp. Def
print("\nResults for Sp. Atk vs Sp. Def:")
for feature, p_value in results_sp_atk_vs_sp_def.items():
    print(f"T-test for {feature}: p-value = {p_value}")

Results for Attack vs Defense:
T-test for Attack: p-value = 1.0
T-test for Defense: p-value = 1.0

Results for Sp. Atk vs Sp. Def:
T-test for Sp. Atk: p-value = 1.0
T-test for Sp. Def: p-value = 1.0

#### What conclusions can you make?

In [ ]:
# Your comment here